{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <link href="{{ asset('styles/home.css') }}" rel="stylesheet">

    <header>
        {% include 'home/navbar.html.twig' %}
    </header>

    <main>
        {% if not app.user %}
            <h1>Bienvenue sur notre site !</h1>
            <p>Ceci est une page d'accueil simple. Explorez nos fonctionnalités en vous connectant ou en créant un compte.</p>
        {% endif %}

        {% if is_granted('ROLE_MEMBER') %}
            {# Inclure member_home.html.twig et lui passer les données #}
            {% include 'home/member_home.html.twig' with { 'activities': activities } %}
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            {% include 'home/admin_home.html.twig' %}
        {% endif %}
    </main>
{% endblock %}