{% extends 'base.html.twig' %}

{% block title %}New Activity{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/activity.css') }}">
    
{% endblock %}

{% block body %}
    <!-- Inclure la barre de navigation -->
    {% include 'home/navbar.html.twig' %}

    <main class="main-content">
        <h1>Create New Activity</h1>

        <div class="form-container">
            {{ include('activity/_form.html.twig') }}
        </div>

        <a href="{{ path('app_home') }}" class="btn-back">Retour à la page d'accueil</a>
    </main>
{% endblock %}
